{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Blacklist checker</h1>
        </div>
        
        {% if message %}
        	<div class="alert {{ message.type }}">
        		{{ message.message }}
        	</div>
        {% endif %}
        
        <fieldset>
        	{{ form_start(form) }}
        	{{ form_widget(form) }}
        	{{ form_end(form, {'render_rest':false}) }}
        </fieldset>
    </div>
{% endblock %}